.beer-search {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  text-align: center;
  margin: 15px;
}

.input-group {
  width: 100%;
}